/* === Mobile First (Default) === */
.simon-project-page {
  max-width: 100%;
  padding: 1rem;
gap: 1rem;
padding-top: 120px;
font-size: 1rem;
overflow-y: 0px;
}

.page-marker-simon {
  background-color: #4e6851;
  display: absolute;
  position: fixed;
  height: 40px;
  width: 110%;
  top: 46px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}

.page-title-simon h1 {
  color: var(--nav-active-text);
  font-size: 1.2rem;
  text-align: left;
  position: fixed;
  height: 4px;
  width: 100%;
  top: 40px;
  margin-left: 20px;
  z-index: 1000;
}

.simon-hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 0px;

}

.simon-hero-image {
  display: flex;
  flex-direction: column;
}

.simon-game {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 368px;
  height: 368px;
  margin: 0px;
  text-align: left;
  top: 2rem;
  /* border: 15px solid black; */
  /* border: 2px solid var(--link-color); */
}


.simon-title-tagline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;
  font-size: 1.3rem;
  padding: 0;
  padding-top: 2rem;
}


.simon-hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: .5rem;
  padding: 0 0rem;
  margin-top: 0rem;
  padding-top: 0rem;
}

.simon-project-subtitle {
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 0 .5rem;
  margin-top: -.5rem;
}

.simon-overview-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: .2rem;
  margin-top: .5rem;
}

.simon-overview-text {
  font-size: 1.25rem;
    line-height: 1.6;
    text-align: left;
    
  }


.simon-summary {
  margin-top: 0rem;
  min-width: 364px;
  font-size: 1.2rem;
  height: fit-content;

  
}
.simon-summary-heading {
  display: flex;
  position: relative;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  text-align: left;
  align-content: left;
}


.simon-summary-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  align-content: left;
  flex-wrap: wrap;
  font-size: 1.2rem;
  width: 100%;
  align-items: flex-start;
  padding: 0 1rem;
  height: fit-content;
  
}

.simon-summary-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
align-items: flex-start;
padding: 0;
text-align: left;
}


.simon-tools-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding: 0;
  text-align: left;
}

.simon-tools-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: left;
  justify-items: left;
  align-items: flex-start;
  align-items: left;
  padding: 0;
  text-align: left;

}

  
.simon-process-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: .2rem;
}


.simon-process-text {
  font-size: 1.25rem;
    line-height: 1.6;
    text-align: left;
    
  }

.simon-process-image-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 2px;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}


.simon-process-image {
  width: 100%;
  height: 100%;
  max-height: 432px;
  max-width: 432px;
  margin-top: 32px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
}





/* === Small Screens (sm: 640px) === */
@media (min-width: 640px) {

  .simon-summary-list {

    padding-bottom: 0px;
  }
  .simon-overview-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    margin-top: -1rem;
  }
  .simon-hero-section {
    /* flex-direction: row; */
    /* justify-content: space-between; */

    height: fit-content;
    padding-bottom: 30px;
  }

}

/* === Medium Screens (md: 768px) === */
@media (min-width: 768px) {

  .simon-project-page {
    max-width: 100%;
    padding: 1rem;
  gap: 1rem;
  padding-top: 4rem;
  font-size: 1rem;
  }


  .simon-hero-section {
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    padding-bottom: 20px;
    padding-top: 4rem;
  }

  .simon-hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .simon-game {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .simon-hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 1rem;
    padding: 0 1rem;

  }
.simon-project-subtitle {
  max-width: 565px;
}


  .simon-summary-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
  }

  .simon-overview-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    margin-top: 12rem;
  }

}


/* === Nav resize  820px) === */ 

@media (min-width: 821px) {
 

}




/* === Large Screens (lg: 1024px) === */
@media (min-width: 1024px) {
  .simon-project-page {
    padding-top: 160px;
    margin: 0 auto;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .simon-hero-section {
    align-items: flex-start;
    height: fit-content;
    padding-top: 0px;
  }

  .simon-hero-text {
  
    padding-top: 0rem;
  }


  .simon-overview-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    margin-top: .5rem;
  }
}

/* === Extra Large Screens (xl: 1280px) === */
/* @media (min-width: 1280px) {
  .simon-project-page {
    max-width: 1200px;
  }

  .page-title-simon h1 {
    font-size: 2.5rem;
  }
} */