.Projects-Page {
  position: fixed;
  justify-content: center;
  width: auto;
}

.project-title {
  font-size: 2.25rem;
  margin-top: 180px;
  margin-left: 16px;
  font-weight: bold;
}

.main-image {
  position: relative;
  margin-top: 20px;
  width: 360px;
  height: 360px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
}


@media (max-width: 1200px) {

}

@media (max-width: 600px) {
  h2 {
    font-size: 2rem;
    margin-top: 132px;
    margin-left: auto;
    width: 100%;
  }
}
