.Project-Card {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 222px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

/* Card Title */
.card-title {
  position: absolute;
  margin-top: 174px;
  padding: 10px;
  font-size: 14px;
}

/* Card Image */
.card-image {
  position: relative;
  margin-bottom: 36px;
  width: 265px;
  height: 140px;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  background-color: var(--background-color);
}

/* Image Variants */
.image-pantone {
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  align-self: center;
  align-content: center;
  margin: 0 32%;


}

.image-simon {
  height: 100%;
  object-fit: contain;
  width: 100%;
  border-radius: 10px;
}

.image-pintern {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 0px;
  border-radius: 10px;
}

.image-pintern path {
  fill: var(--pintern-logo-fill);
}
/* Links */
a {
  text-decoration: none;
  color: var(--link-color);
}

/* md: Tablets (≥768px) */
@media (min-width: 768px) {
  .Project-Card {
    width: 280px;
    height: 222px;
  }
}

/* lg: Laptops (≥1024px) */
@media (min-width: 1024px) {
  .Project-Card {
    width: 300px;
    height: 248px;
  }

  .card-image {
    height: 180px;
  }
}
