/* === Mobile First (Default) === */
.pantone-project-page {
  max-width: 100%;
  padding: 1rem;
gap: 1rem;
padding-top: 120px;
font-size: 1rem;
}

.page-marker-pantone {
  background-color: #4e6851;
  display: absolute;
  position: fixed;
  height: 38px;
  width: 110%;
  top: 78px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}

.page-title-pantone h1 {
  color: var(--nav-active-text);
  font-size: 1.2rem;
  text-align: left;
  position: fixed;
  height: 4px;
  width: 100%;
  top: 74px;
  margin-left: 20px;
  z-index: 1000;
}

.pantone-hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 950px;
  padding-bottom: 80px;
}

.pantone-hero-image {
  display: flex;
  flex-direction: column;
}

.pantone-main-image {
  width: 350px;
  height: 350px;
  margin: 0;
  align-self: center;
  margin-bottom: 40px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
  justify-items: center;
  overflow: hidden;
}



.pantone-main-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;

}


.p-image-gallery {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  top: -54px;
  overflow-x: auto;
  padding-bottom: 0px;
}

.g-thumbnail {
  width: 55px;
  height: 55px;
  object-fit: contain;
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.2s ease-in-out, opacity 0.2s;

}
.g-thumbnail:hover {
  transform: scale(1.1);
}

.g-thumbnail.selected {
  border: 3px solid var(--link-color);
  opacity: 1;

}

.pantone-title-tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pantone-hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 1rem;
  padding: 0 1rem;
  margin-top: -104px;
}


.pantone-summary {
  height: fit-content;
}
.pantone-summary-heading {
  display: flex;
  position: relative;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-align: left;
  align-content: left;
}
.pantone-summary-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  align-content: left;
  /* gap: 1rem; */
  padding: 0 1rem;
  padding-top: 20px;
  padding-bottom: 20px;
  height: fit-content;
}

.twiz-website {
  padding: 0;
  margin: 0;
  color: var(--link-color);
  font-weight: bold;
  text-decoration:underline;
}

.pantone-project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  margin-top: 1rem;
  font-size: 1rem;
}

.pantone-overview-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  margin-top: 1rem;
}

.pantone-concept-image-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 2px;
  width: 100%;
  height: 100%;
}


.pantone-concept-image {
  width: 100%;
  height: 100%;
  max-height: 432px;
  max-width: 432px;
  margin-top: 32px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
}



.pantone-prototype-section {
  display: flex;
  flex-direction: column;
  align-items: left;

}
.prototyping-image-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 2px;
  width: 100%;
  height: 100%;
}


.pantone-prototype-image {
  width: 100%;
  height: 100%;
  max-height: 432px;
  max-width: 432px;
  margin-top: 32px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
}
.pantone-collab-image-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 2px;
  width: 100%;
  height: 100%;
}


.pantone-collab-image {
  width: 100%;
  height: 100%;
  max-height: 432px;
  max-width: 432px;
  margin-top: 32px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
}



.pantone-notes-section {
  font-size: 1.25rem;
  line-height: 1.6;
}
.pantone-final-image-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 2px;
  width: 100%;
  height: 100%;
}


.pantone-final-image {
  width: 100%;
  height: 100%;
  max-height: 432px;
  max-width: 432px;
  margin-top: 32px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
}

.summary-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}



/* === Small Screens (sm: 640px) === */
@media (min-width: 640px) {

  .pantone-summary-list {

    padding-bottom: 0px;
  }
  .pantone-overview-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    margin-top: -6rem;
  }
  .pantone-hero-section {
    /* flex-direction: row; */
    /* justify-content: space-between; */
    padding-bottom: 20px;
  }

  .hero-left,
  .hero-right {
    width: 48%;
  }

  .g-thumbnail {
    width: 60px;
    height: 60px;
  }

 

}

/* === Medium Screens (md: 768px) === */
@media (min-width: 768px) {

  .pantone-project-page {
    max-width: 100%;
    padding: 1rem;
  gap: 1rem;
  padding-top: 40px;
  font-size: 1rem;
  }


  .pantone-hero-section {
    flex-direction: row;
    justify-content: space-between;
    height: 720px;
    padding-bottom: 20px;
  }

  .pantone-hero-image {
    display: flex;
    flex-direction: column;
  }


  .pantone-hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 1rem;
    padding: 0 1rem;
    padding-top: 2rem;

  }
.pantone-project-subtitle {
  max-width: 565px;
}


  .pantone-summary-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
  }
}



@media (min-width: 820px) {
  .page-marker-pantone {
    background-color: #4e6851;
    display: absolute;
    position: fixed;
    height: 38px;
    width: 110%;
    top: 94px;
    left: 0px;
    right: 0px;
    z-index: 1000;
  }

  .page-title-pantone h1 {
    font-size: 1.2rem;
    text-align: left;
    position: fixed;
    height: 4px;
    width: 100%;
    top: 90px;
    margin-left: 20px;
    z-index: 1000;
  }



  .pantone-project-page {
    max-width: 100%;
    padding: 1rem;
  gap: 1rem;
  padding-top: 120px;
  font-size: 1rem;
  }
  

}




/* === Large Screens (lg: 1024px) === */
/* @media (min-width: 1024px) {
  .project-page {
    max-width: 900px;
    margin: 0 auto;
  }

  .pantone-hero-section {
    align-items: flex-start;
  }

  .hero-left img {
    max-width: 500px;
  }
} */

/* === Extra Large Screens (xl: 1280px) === */
/* @media (min-width: 1280px) {
  .project-page {
    max-width: 1200px;
  }

  .page-title-pantone h1 {
    font-size: 2.5rem;
  }
} */