.close-project {
  position: fixed;
  right: 12px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  height: 48px;
  width: 48px;
  top: 149px;
  border-radius: 50%;
  background-color: gray;
}

.close-project:hover {
  background-color: var(--link-color);
}

.close {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}