.close {
  display: flex;
  align-items: center; /* Ensure the "X" is centered */
  justify-content: center; /* Ensure the "X" is centered */
  position: fixed;
  right: 4%;
  top: 52px;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: 2px solid rgb(160, 160, 160);
  background-color: #a1281a;
}

.close:hover {
  background-color: #90372d;
  transform: scale(1.2);
}
