
.projects-body {
  margin: 0px;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top:54px;
  background-size: 40px 40px;
  /* background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */
  background-image: var(--background-image);
}

.page-marker-projects {
  background-color: #4e6851;
  display: absolute;
  position: fixed;
  height:10px;
  width: 100%;
  top: 70px;
  margin-left: 0px;
  z-index: 1000;
}
/* .page-color{
  display: absolute;
  position: fixed;
  height: 6px;
  background-color: rgb(223, 196, 255);
  width: 100%;
  margin-top: 16px;
  z-index: 1000;
} */
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px 15px;
  align-items: center;
  height: 1000px;
  width: 94%;
}


.heading {
  position: absolute;
  padding: 0px;
  left: 40px;
  top: 12px;
  text-align: left;
  width: fit-content;
  font-size: 1.4rem;
  background-color: var(--background-color);
}

.about {
  position: relative;
  margin-left: 0px;
  margin-right: 40px;
  min-width: 400px;
  max-width: 500px;
  width: fit-content;
  top: 70px;
  height: fit-content;
  font-size: 1.3rem;
  background-color: var(--background-color);
  border: 5px solid var(--background-color);
}

.projects-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 12px;
  column-gap: 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  height: fit-content;
  place-items: center;
  min-width: 910px;
  max-width: 998px;
  width: 998px;
}





@media (max-width: 1024px) {
  .projects-body {
    padding: 0px 0px 0px 0px;
    height: 1200px;
  }
  
  
  .projects-grid {
    grid-column: 1 / 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2px;
    height: 632px;
    top: 20px;
    min-width: 590px;
    width: 590px;
    margin-left: 50%;
    margin-right: 50%;
    padding: 0px 0px 0px 0px;
    
  }
  
}


/* nav lowers on screen */
@media (max-width: 820px) {
  .projects-body {
    margin-top: 100px;
  }
 
.page-marker-projects {
  top: 64px;
  margin-left: 0px;
  z-index: 1000;
}
.heading {
  position: absolute;
  padding: 0px;
  left: 18px;
  top: 64px;
  text-align: left;
  width: fit-content;
  font-size: 1.4rem;
  background-color: var(--background-color);
}
}

@media (max-width: 600px) {
  .projects-body {
    padding: 0px 0px 0px 0px;
    height: 1200px;
  }
  
  .projects-grid {
    grid-column: 1 / 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 12px;
    height: 632px;
    top: 20px;
    min-width: 320px;
    width: 440px;
    margin-left: 50%;
    margin-right: 50%;
    padding: 0px 0px 0px 0px;

  }

}
