
.page-marker-github {
  background-color: #a1281a;
  display: absolute;
  position: fixed;
  height: 10px;
  width: 100%;
  top: 70px;
  margin-left: 0px;
  z-index: 1000;
  
}
.gh-intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0px;
  width: 100%;
  padding: 0px;
  top: 120px;
  background-color: transparent;
}


.github-profile {
  position: relative;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 0px;
  align-items:first baseline;
  width: 94%;
  height: 100%;
  min-height: 1000px;
  max-height: unset;
  margin-top: 0px;
  padding: 8px;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 80px;
  /* border: 6px dashed rgb(106, 106, 106); */
  background-size: 40px 40px;
  background-image: var(--background-image);
}


.gh-profile {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  top: 140px;
  margin-top: 0px;
  /* background-color: var(--logo-fill); */
}

.github-avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  border: 6px solid var(--logo-fill);
}

.gh-profile-header {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 20px;
  grid-column: 1 / 2;
}

.gh-name {
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  padding-top: 10px;
  gap: 0px;
  padding-bottom: 0px;
}

.gh-username {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
}

.gh-email {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
}
.gh-website {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
}
.gh-location {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}

.repo-section {
  display: grid;
  position: relative;
  grid-column: 2 / 3;
  align-items: left;
  width: 98%;
  height: fit-content;
  margin: 0;
  min-height: fit-content;
  top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
}

.repo-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: center;
  justify-content: center;
  width: 98%;
  margin: 0;
  height: fit-content;
  top: 0px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: none;
  background-color: transparent;

}

.repo-item {
justify-content: left;
width: 458px;
margin: 0;  
padding: 0;
text-align: left;
}
.repo-name {
justify-content: left;
width: fit-content;
margin: 0;  
padding: 0;
text-align: left;
}

.repo-description {
justify-content: left;
width: fit-content;
margin: 0;
padding: 6px;
/* text-align: left; */
}



.repo-language {
justify-content: left;
width: fit-content;
min-width: 110px;
margin: 0; 
padding: 0;
text-align: left;
}



@media (max-width: 1024px) {
}}

@media (max-width: 820px) {
  .page-marker-github {
    top: 64px;
    margin-left: 0px;
    z-index: 1000;
  }

.gh-profile-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gh-name {
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  padding-top: 10px;
  gap: 0px;
  padding-bottom: 0px;
}

.gh-username {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
}

.gh-email {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
}
.gh-website {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 0px;
}
.gh-location {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}

}