.Header {
  display: inline-flex;
  flex-direction: row;
  height: 102px;
  width: 100%;
  padding: 0 0;
  position: fixed;
  margin-top: -1px;
  z-index: 1000;
  background-color: var(--background-color);
}


.jm-logo {
  padding-top: 8px;
  padding-left: 8px;
  position: fixed;
  height: 34px;
  width: fit-content;
  color: var(--logo-fill);
  z-index: 1000;
}

.App-logo:hover {
  /* border-bottom: 4px solid var(--logo-fill); */
  /* border-bottom: 4px solid var(--logo-fill); */


}

/* .page-marker-home-hover {
  background-color: transparent;
  border-bottom: 4px transparent;
  position: fixed;
  height: 42px;
  width: 220px;
  top: 8px;
  margin-left: 32px;
  z-index: 1000;
} */

.page-marker-home-hover:hover {

  position: fixed;
  border-bottom: 4px solid var(--logo-fill);
  width: 212px;
  margin-left: 28px;
  z-index: 1000;
}

@media (min-width: 821px) {
  .Header {
    display: flex;
    position: fixed;
    height: 88px;
    z-index: 1000;

  }

  .page-marker-home-hover {
    height: 46px;
    width: 150px;
 
  }

  .page-marker-home-hover:hover {
    display: absolute;
    position: fixed;
    border-bottom: 4px solid var(--logo-fill);
    width: 152px;
    height: 35px;
    top: 6px;
    margin-left: 28px;
    z-index: 1000;

  }

  
  

  .jm-logo {
    position: fixed;
    height: 38px;
    padding-left: 4px;
    padding-top: 4px;
    width: fit-content;
    cursor: pointer;
  }
}


.Project-link {
  color: #ff4df9;
}