.Header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 1vh 0vw 1vh 0vw;
}

.App-logo path {
  fill: var(--logo-fill);
}

.App-logo {
  position: absolute;
  height: 80px;
  width: auto;
  padding: 1vh 1vw 1vh 1vw;
  color: var(--logo-fill);
    /* margin-top: 5px; */
}

  @media (max-width: 600px) {
    .Header {
      display: flex;
    }
    
    .App-logo {
      height: 48px;
      width: auto;
      padding: 1vh 1vw 1vh 2vw;
      /* margin-top: 5px; */
    }
}

.Project-link {
  color: #ff4df9;
}
