.Header {
  display: flex;
  height: 70px;
  width: 100%;
  padding: 0 0;
  position: relative;
  /* z-index: 1000 */
} 


.App-logo path {
  fill: var(--logo-fill);
}

.App-logo {
  margin-top: 10px;
  margin-left: 8px;
  position: fixed;
  height: 80px;
  width: auto;
  color: var(--logo-fill);
    /* margin-top: 5px; */
}

  @media (max-width: 600px) {
    .Header {
      display: flex;
      position: relative;
      height: 70px;
    }
    
    .App-logo {
      position: fixed;
      height: 48px;
      width: auto;
      margin-top: 5px;
    }
}

.Project-link {
  color: #ff4df9;
}
