.Projects-Page {
  padding: 0 20px 0 20px;
  /* position: fixed; */
  justify-content: center;
  width: auto;
}

.intro {
  display: inline-flex;
  grid-column: 1 / 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 585px;
  font-size: 1.3rem;
  /* border: 2px solid var(--link-color); */
  
}

.projects-grid {
  position: relative;
  display: inline-grid;
  grid-column: 2 / 3;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 12em;
  column-gap: 14em;
  margin-left: 100px;
  margin-top: 180px;
  height: 550px;
  min-width: 440px;
}

@media (max-width: 1200px) {
.intro {
  margin-top: 180px;
  width: 495px;
  font-size: 1.2rem;
}

  .projects-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 14em;
    column-gap: 1em;
    margin-top: 20px;
  }

}

@media (max-width: 600px) {
  .intro {
    margin-top: 118px;
    width: 448px;
    font-size: 1.2rem;
  }
  .projects-grid {
    grid-column: 1 / 2;
    margin-top: 20px;
    margin-left: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 14em;
    column-gap: 1em;

  }

}
