.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 1vh 10vw;
  margin-top: 78vh;

}

@media (max-width: 600px) {
  .Footer {
    display: flex;
    padding: 1vh 10vw;
    margin-top: 74vh;
  }
}

.Project-link {
  color: #ff4df9;
}