.Footer {
  display: flex; 
  flex-direction: row;
  align-items: center;
  margin: 0px;
  height: 42px;
  width: 100%;
  padding: 0px 0px;
  position: fixed;
  bottom: -1px;
  z-index: 1000;
  background-color: var(--background-color);
}

.footer-content {
padding: 0px 0px;
width: 98%;
height: 100%;
margin-left: auto;
margin-right: auto;
padding: 0px 12px;
display: inline-flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}



.footer-button {
  margin-bottom: 6px; 
  width: fit-content;
  padding: 6px 32px;
  background-color: var(--contact-button-color);
  color: white;
  border: none;
  justify-content: space-between;
  border-radius: 4px;
  cursor: pointer;
  align-content: right;
  font-weight: bold;

}

.footer-button:hover {
  text-decoration: underline;
  cursor: pointer;
}
