:root {
--background-color: #f3f3f3;
--text-color: #383838;
--primary-color: #764300;
--logo-fill: #03227f;
--link-color: #085E08;
/* --link-color: #994d00; */
}

/* dark mode */
[theme="dark"] {
  --background-color: #07001C;
  --text-color: #EEEDE7;
  --primary-color: #799AFA;
  --logo-fill: #799AFA;
  --link-color: #edb226;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  flex-direction: column;
  align-items: center;
  transition: var(--background-color) 0.3s ease-in-out, color 0.3s ease-in-out;
}

h1 {
  color: #ff4df9;
  visibility: hidden;
}

/* .App-body {
  background-color: #07001C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-logo {
  height: 60vmin;
  pointer-events: none;
  margin-top: -4vh;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
