body {
  background-color: #07001C;
  flex-direction: column;
  align-items: center;
  color: #bebebe;
  height: 100vh;
}

h1 {
  color: #ff4df9;
  visibility: hidden;
}

.App-body {
  background-color: #07001C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-logo {
  height: 60vmin;
  pointer-events: none;
  margin-top: -4vh;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
