.Project-Card {
position: absolute;
display: inline-flex;
flex-direction: row;
width: 250px;
height: 350px;
border: 2px solid var(--link-color);
border-radius: 10px;
/* padding: 10px; */
align-items: center;
justify-content: center;
}