.menu {
  display: flex;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 46px;
  top: 72px;

}

ul {
  display: flex;
  list-style-type: none;
  padding: 0px 12vw;
  width: 100%;
  justify-content: space-between;
  font-size: 1.35rem;
  height: fit-content;
  
}

li {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

li a {
  color: var(--link-color);
  padding: 6px 2vh;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 4px solid transparent;

}

li a:hover {
  border: 4px solid var(--link-color);
}

.active {
  background-color: aqua;
}

@media (max-width: 800px) {
  ul {
    padding: 0% 2vw;
    max-width: 90%;
    min-width: 90vw;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  li a {
    padding: 1vw 1vh;
  }
}

@media (max-width: 600px) {
  .Menu {
    display: flex;
  }
  
  ul {
    list-style-type: none;
    margin-top: 50px;
    padding: 8px 10px;
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
  }
  
  li {
    text-align: center;
  }
  
  li a {
    display: flex;
    padding: 8px 12px;
    text-decoration: none;
    padding: 1vh 2.75vw;
  }
}