.menu {
  display: flex;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 98%;
  height: 22px;
  top: 12px;
  border: 0;
  box-sizing: border-box;


}

.menu-list {
  display: flex;
  list-style-type: none;
  padding: 0px;
  width: 98%;
  justify-content: left;
  align-items: left;
  font-size: .8rem;
  margin: 0px;
  margin-left: 0px;
  background-color: var(--background-color);
  box-sizing: border-box;
  gap: 6px;

}

.nav-menu-item-about {
  display: inline-flex;
  text-align: center;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  width: 150px;
  flex-direction: row;
  padding: 0px 6px;
  border: 4px solid transparent;
  box-sizing: border-box;
}


.nav-menu-item-github {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 68px;
  flex-direction: row;
  padding: 0px 6px;
  border: 4px solid transparent;
  box-sizing: border-box;
}





.nav-menu-item-projects {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 78px;
  padding: 0px 6px;
  border: 4px solid transparent;
  box-sizing: border-box;
  
}
.nav-menu-item-widgets {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 78px;
  padding: 0px 6px;
  border: 4px solid transparent;
  box-sizing: border-box;
  
}

.menu-link {
  color: var(--link-color);
  padding: 4px 10px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 4px solid transparent;
  box-sizing: border-box;
}

.active {
  border-radius: 10px 10px 0px 0px;
  border: 4px solid transparent;
}

/* Hover effects */

.nav-menu-item-about:hover {
  border-bottom: 4px solid transparent;
  transform: scale(1.01);
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
  box-sizing: border-box;
}


.nav-menu-item-about .active {
  background-color: #17357a;
  color: var(--nav-active-text);
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
  box-sizing: border-box;
}
.nav-menu-item-github:hover {
  border-bottom: 4px solid transparent;
  transform: scale(1.05);
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
  box-sizing: border-box;
}


.nav-menu-item-github .active {
  background-color: #a1281a;
  color: var(--nav-active-text);
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
  box-sizing: border-box;
}



.nav-menu-item-projects:hover {
  border-radius: 10px 10px 0px 0px;
  border-bottom: 4px solid transparent;
  transform: scale(1.05);
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
  box-sizing: border-box;
}

.nav-menu-item-projects .active {
  background-color: #4e6851;
  color: var(--nav-active-text);
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
  box-sizing: border-box;

}


.nav-menu-item-widgets:hover {
  border-radius: 10px 10px 0px 0px;
  border-bottom: 4px solid transparent;
  transform: scale(1.05);
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
  box-sizing: border-box;
}

.nav-menu-item-widgets .active {
  background-color: #4f1f50;
  color: var(--nav-active-text);
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
  box-sizing: border-box;

}


.full-width-section-marker {
  position: fixed;
  top: 38px;
  left: 0;
  width: 100%;
  height: 8px;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

/* .gh-section-marker .active {
  position: fixed;
  height: 10px;
  width: 110%;
  top: 32px;
  left: 0;
  background-color: #a1281a;
  transition: background-color 0.3s ease-in-out;

}
.pj-section-marker .active {
  position: fixed;
  height: 10px;
  width: 110%;
  top: 32px;
  left: 0;
  background-color: #4e6851;
  transition: background-color 0.3s ease-in-out;

} */