.Menu {
  display: flex;
}

ul {
  display: flex;
  list-style-type: none;
  margin-top: 12vh;
  padding: 1vh 4vh;
  width: auto;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

li a {
  display: flex;
  color: var(--link-color);
  padding: 1vh 4vh;
  text-decoration: none;
  justify-content: center;
  width: auto;
  align-items: center;
  flex-direction: row;
  border: 4px solid transparent;

}

li a:hover {
  /* background-color: hsl(300, 22%, 19%); */
  border: 4px solid var(--link-color);
  /* color: var(--link-color); */
}


@media (max-width: 600px) {
  .Menu {
    display: flex;
  }
  
  ul {
    list-style-type: none;
    margin-top: 8vh;
    padding: 1vh auto;
    width: auto;
    font-size: 1rem;
  }
  
  li a {
    display: flex;
    padding: 1vh 3vh;
    text-decoration: none;
    justify-content: left;
    width: auto;
  }
}