.Menu {
  display: flex;
  /* padding-top: 1vh; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 4vh;
  width: auto;
  font-size: 2.5rem;
}

li a {
  display: flex;
  color: hsl(0, 0%, 80%);
  padding: 4vh;
  text-decoration: none;
  justify-content: left;
  width: auto;
}

li a:hover {
  background-color: hsl(300, 22%, 19%);
  color: hsl(0, 0%, 100%);
}


@media (max-width: 600px) {
  .Menu {
    display: flex;
    /* padding-top: 2vh; */
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 2vh 4vh;
    width: auto;
    font-size: 2.0rem;
  }
  
  li a {
    display: flex;
    color: hsl(0, 0%, 80%);
    padding: 4vh;
    text-decoration: none;
    justify-content: left;
    width: auto;
  }
}