/* === Mobile First (Default) === */
.pintern-project-page {
  max-width: 100%;
  padding: 1rem;
gap: 1rem;
padding-top: 120px;
font-size: 1rem;
overflow-y: 0px;

}

.page-marker-pintern {
  background-color: #4e6851;
  display: absolute;
  position: fixed;
  height: 38px;
  width: 110%;
  top: 78px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}

.page-title-pintern h1 {
  color: var(--nav-active-text);
  font-size: 1.2rem;
  text-align: left;
  position: fixed;
  height: 4px;
  width: 100%;
  top: 74px;
  margin-left: 20px;
  z-index: 1000;
}

.pintern-hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: fit-content;
  padding-bottom: 30px;

}

.pintern-hero-image {
  display: flex;
  flex-direction: column;
}

.pintern-main-image {
  width: 350px;
  height: 350px;
  margin: 0;
  align-self: center;
  margin-bottom: 40px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
  justify-items: center;
  overflow: hidden;
}



.pintern-main-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;

}


.pintern-image-gallery {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  top: -54px;
  overflow-x: auto;
  padding-bottom: 0px;
}

.pintern-thumbnail {
  width: 55px;
  height: 55px;
  object-fit: contain;
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.2s ease-in-out, opacity 0.2s;

}
.pintern-thumbnail:hover {
  transform: scale(1.1);
}

.pintern-thumbnail.selected {
  border: 3px solid var(--link-color);
  opacity: 1;

}

.pintern-title-tagline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}


.pintern-hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 1rem;
  padding: 0 1rem;
  margin-top: 1rem;
}
.pintern-project-subtitle {
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 0 .5rem;
}



.pintern-summary {
  margin-top: .5rem;
  min-width: 364px;
  font-size: 1.2rem;
  height: fit-content;

  
}
.pintern-summary-heading {
  display: flex;
  position: relative;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  text-align: left;
  align-content: left;
}


.pintern-summary-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  align-content: left;
  flex-wrap: wrap;
  font-size: 1.2rem;
  width: 100%;
  align-items: flex-start;
  padding: 0 1rem;
  height: fit-content;
  
}

.pintern-summary-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
align-items: flex-start;
padding: 0;
text-align: left;
}



.pintern-overview-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: .2rem;
  margin-top: 1rem;
}

.pintern-overview-text {
  font-size: 1.25rem;
    line-height: 1.6;
    text-align: left;
    
  }
  
.pintern-concept-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: .2rem;
}


.pintern-concept-text {
  font-size: 1.25rem;
    line-height: 1.6;
    text-align: left;
    
  }

.pintern-concept-image-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 2px;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}


.pintern-concept-image {
  width: 100%;
  height: 100%;
  max-height: 432px;
  max-width: 432px;
  margin-top: 32px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
}



.pintern-prototyping-section {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.pintern-prototyping-text {
  font-size: 1.25rem;
    line-height: 1.6;
    text-align: left;
    
  }

.pintern-prototyping-image-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 2px;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}


.pintern-prototype-image {
  width: 100%;
  height: 100%;
  max-height: 432px;
  max-width: 432px;
  margin-top: 32px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
}



.pintern-design-section {
  display: flex;
  flex-direction: column;
  align-items: left;

}

.pintern-design-text {
  font-size: 1.25rem;
    line-height: 1.6;
    text-align: left;
    
  }

  .pintern-design-text a {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }


.pintern-design-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  align-content: left;
  flex-wrap: wrap;
  font-size: 1.2rem;
  width: 100%;
  max-width: 670px;
  align-items: flex-start;
  padding: 0 1rem;
  height: fit-content;
  
}
.pintern-design-heading {
  display: flex;
  position: relative;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  text-align: left;
  align-content: left;

}



.pintern-design-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
align-items: flex-start;
padding: 0;
text-align: left;
}




.pintern-design-image-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 2px;
  width: 100%;
  height: 100%;
}


.pintern-design-image {
  width: 100%;
  height: 100%;
  max-height: 432px;
  max-width: 432px;
  margin-top: 32px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
}



.pintern-production-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 2rem;

}

.pintern-production-text {
  font-size: 1.25rem;
    line-height: 1.6;
    text-align: left;
    
  }



.pintern-production-image-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 2px;
  width: 100%;
  height: 100%;
}


.pintern-production-image {
  width: 100%;
  height: 100%;
  max-height: 432px;
  max-width: 432px;
  margin-top: 32px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
}



.pintern-notes-section {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-top: 2rem;
}
.pintern-final-image-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 2px;
  width: 100%;
  height: 100%;
}


.pintern-final-image {
  width: 100%;
  height: 100%;
  max-height: 432px;
  max-width: 432px;
  margin-top: 32px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
}




/* === Small Screens (sm: 640px) === */
@media (min-width: 640px) {

  .pintern-summary-list {

    padding-bottom: 0px;
  }
  .pintern-overview-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    margin-top: -1rem;
  }
  .pintern-hero-section {
    /* flex-direction: row; */
    /* justify-content: space-between; */

    height: fit-content;
    padding-bottom: 30px;
  }

  .hero-left,
  .hero-right {
    width: 48%;
  }

  .g-thumbnail {
    width: 60px;
    height: 60px;
  }

 

}

/* === Medium Screens (md: 768px) === */
@media (min-width: 768px) {

  .pintern-project-page {
    max-width: 100%;
    padding: 1rem;
  gap: 1rem;
  padding-top: 4rem;
  font-size: 1rem;
  }


  .pintern-hero-section {
    flex-direction: row;
    justify-content: space-between;
    height: 720px;
    padding-bottom: 20px;
  }

  .pintern-hero-image {
    display: flex;
    flex-direction: column;
  }


  .pintern-hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 1rem;
    padding: 0 1rem;
    padding-top: 18rem;

  }
.pintern-project-subtitle {
  max-width: 565px;
}


  .pintern-summary-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
  }

  .pintern-overview-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    margin-top: 12rem;
  }

}


/* === Nav resize  820px) === */ 

@media (min-width: 821px) {
  .page-marker-pintern {
    background-color: #4e6851;
    display: absolute;
    position: fixed;
    height: 38px;
    width: 110%;
    top: 94px;
    left: 0px;
    right: 0px;
    z-index: 1000;
  }

  .page-title-pintern h1 {
    font-size: 1.2rem;
    text-align: left;
    position: fixed;
    height: 4px;
    width: 100%;
    top: 90px;
    margin-left: 20px;
    z-index: 1000;
  }

}




/* === Large Screens (lg: 1024px) === */
@media (min-width: 1024px) {
  .pintern-project-page {
    padding-top: 160px;
    margin: 0 auto;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .pintern-hero-section {
    align-items: flex-start;
    height: fit-content;
    padding-top: 0px;
  }

  .pintern-hero-text {
  
    padding-top: 0rem;
  }


  .hero-left img {
    max-width: 500px;
  }


  .pintern-overview-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    margin-top: .5rem;
  }
}

/* === Extra Large Screens (xl: 1280px) === */
/* @media (min-width: 1280px) {
  .project-page {
    max-width: 1200px;
  }

  .page-title-pintern h1 {
    font-size: 2.5rem;
  }
} */