
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  width: auto;
  min-width: 98vw;
  height: 620px;
  min-height: 620px;
  padding: 40px 20px;
  place-items: center;
  background-color: var(--background-color);
  margin-bottom: 40px;
}

.main-image {
  grid-column: 1 / 2;
  position: relative;
  width: 480px;
  height: 460px;
  margin-top: 32px;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  background-color: var(--background-color);
}

.hero-text {
  margin-bottom: 240px;
}

.summary-list {
  top: 160px;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  margin: 0;
  padding: 20p;
}

.opening-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  visibility: hidden;
}

.opening-text {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  width: 100%;
}
.opening-section {
display: flex;
flex-direction: row
}

.scope-list {
  top: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.scope-heading {
  margin: 0;
  padding: 0;
  justify-content: left;
  align-items: left;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.5rem;
}

.scope-item {
  margin: 0;
  padding: 0;
  justify-content: left;
  align-items: left;
  display: inline-block;
  text-align: left;

}



.project-title {
  position: relative;
  grid-column: 2 / 3;
  font-size: 2.25rem;
  font-weight: bold;
}

.project-subtitle {
  position: absolute;
  grid-column: 2 / 3;
  font-size: 1.5rem;
  font-weight: bold;
}

.image-gallery {
  position: relative;
  display: flex;
  justify-content: baseline;
  gap: 12px;
  top: 220px;
  height: 120px;
}


/* Media Queries */
@media (max-width: 1200px) {
  .section-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section-content, .section-image {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .main-image {
    width: 90%;
    height: auto;
  }

  .hero-text {
    margin-bottom: 0;
    text-align: center;
  }

  .section-content, .section-image {
    width: 100%;
  }
}
